.App {
  background-color: rgb(1, 0, 0);
  background: linear-gradient(110deg, #afd7d4 60%, #3cd3c9 60%);
  opacity:1.0;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0; 	
	margin: auto;
    
}

.Header {
  background-color: #5dbfb0;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(18px + 3vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  padding-left: 10vmin;

}

.UnderConstruction {
  font-size: calc(28px + 4vmin);
  font-family: monospace;
  position: absolute;
  width:80%;
  height:40%;
  top:0;
	bottom: 0;
	left: 0;
	right: 0; 	
	margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


.MailAddress{
  font-size: calc(12px + 3vmin);
  font-family: fantasy;
  position: absolute;
  bottom: calc(28px + 4vmin);
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
	bottom: calc(36px + 8vmin);
	left: 0;
	right: 0; 	
	margin: auto;
}

.Footer {
 
  font-size: calc(8px + 1vmin);
  position: absolute;
  bottom: calc(28px + 4vmin);
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
	bottom: calc(18px + 4vmin);
	left: 0;
	right: 0; 	
	margin: auto;

}